[submodule "src/cmake/sdl2"]
	path = src/cmake/sdl2
	url = https://github.com/aminosbh/sdl2-cmake-modules.git
[submodule "src/include/random"]
	path = src/include/random
	url = https://github.com/effolkronium/random.git
[submodule "src/cmake/sdl2-cmake-modules"]
	path = src/cmake/sdl2-cmake-modules
	url = https://github.com/aminosbh/sdl2-cmake-modules.git
